/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# app/Booth.php
app/BoothAdmin.php
app/Content.php
app/Device.php
app/EventSession.php
app/Option.php
app/Points.php
app/Question.php
app/Room.php
app/User.php
app/Link.php