<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /
    RewriteRule ^/index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
    Header add Access-Control-Allow-Origin "*"
    Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
</IfModule>

<Files .env.prod >
    Order allow,deny
    Deny from all
</Files>
<Files .env>
    Order allow,deny
    Deny from all
</Files>
<Files .env.staging>
    Order allow,deny
    Deny from all
</Files>